{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        {%if message %}
            {% if update %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endif %}
        {% endif %}
    </div>

    {% if not listing.is_active and user == listing.price.user %}
    <div class="alert alert-success" role="alert">
        Congratulations! You bought the listing!
    </div>
    {% endif %}
        {% if user.is_authenticated and listing.is_active %}
            {% if isListingInWatchlist %}
                <form action="{% url 'removeWatchlist' id=listing.id %}"  method ="POST" style="display: inline-block; margin: 3px">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'addWatchlist' id=listing.id %}"  method ="POST" style="display: inline-block; margin: 3px">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add To Watchlist</button>
                </form>
            {% endif %}
            {% if isOwner %}
                <form action="{% url 'closeAuction' id=listing.id %}"  method ="POST" style="display: inline-block; margin: 3px">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Close Listing</button>
                </form>
            {% endif %}
        {% endif %}

    <h2>{{ listing.title }}</h2>
    <img src=" {{listing.imageurl }}" alt={{ listing.title }}" height="400px">
    <br>
    <br>
    <p style="width: 800px"> {{ listing.description }}</p>
    <p>Category: <strong> {{ listing.category }}</strong></p>
    <p>Posted by: <strong> {{ listing.owner }}</strong></p>
    <h4>Current Price: €{{ listing.price.bid }}</h4>
    <br>
    {% if user.is_authenticated %}
        <form action="{% url 'addBid' id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="price">Add Bid</label>
              <input type="number" min='0' name="newBid" placeholder="Add New Bid">
              <button class="btn btn-primary" type="submit">Add</button>
            </div>
        </form>
    {% endif %}
    <br>
    <h2>Comments</h2>
    {% if user.is_authenticated %}
        <form action="{% url 'addComment' id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="price">Add Comment</label>
              <input type="text" name="newComment" placeholder="Add New Comment">
              <button class="btn btn-warning" type="submit">Add</button>
            </div>
        </form>
    {% endif %}
    <br>
    <ul class="list-group">
        {% for comment in allComments %}
            <li class="list-group-item">
                {{ comment.message }}
                <br>
                <p>Posted by: <strong>{{ comment.author }}</strong></p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
